#root {
  height: 540px;
  width: 550px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.outline {
  color: #ffd433;
  font-size: 11px;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #222;
  margin: 1em 0;
  padding: 0;
}

.bonds {
  display: grid;
  grid-template-columns: 250px 250px;
}

.dice-result {
  color: #ffd433;
  font-size: 12px;
  font-weight: 800;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.button {
  width: 50px;
  height: 25px;
  font-size: 10px;
  padding: 0;
  color: #ffd433;
  background-color: #222;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  scrollbar-width: none;
}

.crit {
  position: relative;
  font-size: 13px;
  color: #fff;
  animation: explode 1s linear infinite alternate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-stat {
  font-size: 10px;
  color: #ffd433;
  height: 22px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #333;
  text-align: center;
  border: none;
  border-radius: 3px;
  border: 1px solid #222;
}
.skill-detail {
  font-size: 10px;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  color: #ddd;
}

.bond-stat {
  background-color: #333;
  color: #ffd433;
  font-size: 8px;
  margin-right: 4px;
  height: 22px;
  width: 60px;
  border-radius: 3px;
  border: 1px solid #222;
  margin-bottom: 3px;
}

.attribute-stat {
  background-color: #333;
  color: #ffd433;
  font-size: 10px;
  margin-right: 4px;
  margin-left: 4px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #222;
}

@keyframes explode {
  0% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
    transform: scale(1);
  }
  20% {
    text-shadow: 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
    transform: scale(1.05);
  }
  40% {
    text-shadow: 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    display: none;
  }
}
